<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
</script>
<body>
    <div ng-app="Myapp" ng-controller="formCtrl">
        <form>
            First Name: <input type="text" ng-model="firstname" required><br>
            Email: <input name="mail" ng-model="mail" type="email">
            <input type="submit" value="submit">
        </form>
    </div>
 <script>
    var app=angular.module('myApp',[])
    app.controller('formCtrl',function($scope){
    $scope.firstname="Saransh";
    });
    </script>
    </body>
    </html>